body{
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    background-color:#E0E0E0;
    background:url('../images/hotel1.JPEG');
    font-size: 1rem;
    
}




h1{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 35%;
    
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.class{
    float: left;
}
p{
    margin: 1px;
}


#inn{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
    
}

#rad{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#city{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#town{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#form{
    margin-top: 5%;
    margin-left:32%;
    margin-right:0%;
    border: 0.02rem;
    float:left;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    
    

}

input {
    width: 100%;
    padding: 5px 15px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1rem;
  }

.submit{
    background:grey;
    width: 30%;
    padding: 5px 15px;
    
}


.duplicate{
    border-style: solid;
   background:rgb(195, 188, 214);
   margin-top: 2%;
    margin-left:0%;
    margin-right:10%;
    float:right;
    
}

.return{
    border-style: solid;
   background:aquamarine;
   margin-top: 5%;
    margin-left:0%;
    margin-right:15%;
    float:right;
    
}


button {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 0.800rem;
  letter-spacing: 0.3em;
  color: rgba(230, 176, 40, 0.938);
  border-radius: 50vh;
  padding: 0px 50px 0px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(150, 118, 38, 0.815), rgba(196, 155, 86, 0.8), rgba(177, 132, 80, 0.349), rgba(160, 113, 68, 0.384));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 3.625rem;
  border: none;
  border: 1px solid rgba(228, 173, 34, 0.664);
  -webkit-border-radius: 50vh;
  -moz-border-radius: 50vh;
  -ms-border-radius: 50vh;
  -o-border-radius: 50vh;
}



#confirmed{
    margin-top: 5%;
    margin-left:0%;
    margin-right:10%;
    border: 0.4rem;
    float: right;;
    color:black;
    background: gray;
    font-size: 1.5rem;
    font-weight: bold;
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
}
