body{
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    background-color:#E0E0E0;
    background:url('../images/hotel1.JPEG');
    font-size: 1rem;
    
}



h1{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 35%;
    
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.class{
    float: left;
}
p{
    margin: 1px;
}


#inn{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
    
}

#rad{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#city{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#town{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#form{
    margin-top: 5%;
    margin-left:32%;
    margin-right:0%;
    border: 0.02rem;
    float:left;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    
    

}

input {
    width: 100%;
    padding: 5px 15px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1rem;
  }

.submit{
    background:grey;
    width: 30%;
    padding: 5px 15px;
    
}


.duplicate{
    border-style: solid;
   background:rgb(195, 188, 214);
   margin-top: 2%;
    margin-left:0%;
    margin-right:10%;
    float:right;
    
}

.return{
    border-style: solid;
   background:aquamarine;
   margin-top: 5%;
    margin-left:0%;
    margin-right:15%;
    float:right;
    
}



button{
    background:grey;
    width: 40%;
    padding: 5px 15px;
    margin-left:35%;
}


#confirmed{
    margin-top: 5%;
    margin-left:0%;
    margin-right:10%;
    border: 0.4rem;
    float: right;;
    color:black;
    background: gray;
    font-size: 1.5rem;
    font-weight: bold;
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
}
